/*
    * Colors
    * Primary: #FF5733
    * Secondary: #FF5733
    * Tertiary: #FF5733
    * Glass: rgba(255, 255, 255, 0.5)
    * Transparent: transparent
    * Black: #000
    * White: #fff
*/
:root {
    --primary: #D2E823;
    --secondary: yellow;
    --tertiary: green;
    --glass: rgba(255, 255, 255, 0.5);
    --trasparent: transparent;
    --black: #000;
    --white:#F3F3F1;
    --graddient-blue-red: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
